input {
  all: unset;
}

select {
  all: unset;
}

h4 {
  font-weight: 400;
  color: #A8A8A8;
}

#taskedit_main {
  display: flex;
  flex-direction: column;
  background-color: #2E2E2E;
  padding: 2em;
  border-radius: 1em;
  margin-left: 1em;
}

#taskedit_form_container {
  display: flex;
}

#taskedit_hollow_circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  border: 1px solid #A8A8A8;
  margin-right: 1em;
}

.taskedit_input_label {
  margin: 0em;
  margin-bottom: 1em;
}

#taskedit_buttons_container {
  display: flex;
  margin-top: 10em;
  justify-content: flex-end;
}

#taskedit_cancel_button {
  padding: 0.5em 2em;
}

#taskedit_save_button {
  border-radius: 10px;
  background-color: #A8A8A8;
  padding: 0.5em 2em;
  color: white;
  cursor: pointer;
}

#taskedit_save_button_text {
  margin: 0em;
  color: white;
}

#taskedit_cancel_button_text {
  margin: 0em;
  cursor: pointer;
}

.taskedit_input {
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  background-color: #222222;
  color: white;
}

#taskedit_extra_space {
  width: 1em;
  height: 0.5em;
  border-radius: 100%;
  margin-right: 1em;
}