.taskitem-main {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-left: 2.5em;
  border-radius: 1em;
  margin-bottom: 0.5em;
}

.taskitem-main:hover {
  background-color: #1b1b1b;
}

.taskitem-main-selected {
  background-color: #373737;
}

.taskitem-main-selected:hover {
  background-color: #373737;
}

.taskitem-left {
  display: flex;
  color: #a8a8a8;
}
.taskitem-hollow-dot {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid #a8a8a8;
  margin-top: 0.25em;
  margin-right: 1em;
}
.taskitem-details {
}
.taskitem-first-line {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.taskitem-task-title {
  margin: 0em;
  margin-right: 1em;
  font-weight: 600;
}
.taskitem-dot {
  height: 0.25em;
  width: 0.25em;
  border-radius: 50%;
  background-color: #a8a8a8;
  margin-right: 1em;
}
.taskitem-commitment {
  margin: 0em;
  font-weight: 400;
}
.taskitem-second-line {
}
.taskitem-due {
  margin: 0em;
  font-weight: 300;
}
.taskitem-right {
  color: #cababa;
}
.taskitem-time {
  margin: 0em;
  font-weight: 300;
}
