.commitmentitem {
  display: flex;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.commitmentitem:hover {
  background-color: #1B1B1B;
}

.commitmentitem-selected {
  background-color: #373737;
}

.commitmentitem-selected:hover {
  background-color: #373737;
}

.commitmentitem-icon {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.commitmentitem-title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #A8A8A8;
}

.commitmentitem-title-container {
  margin-left: 1em;
}

.commitmentitem-title-container > h4 {
  font-weight: 400;
  margin: 0em;
  margin-bottom: 0.25em;
}

.commitmentitem-title-container > p {
  font-size: 0.85em;
  font-weight: 300;
  margin: 0em;
}